.github-icon {
  font-size: 3em;
  margin: 0.5em;

  &:hover {
    background-color: transparent;
  }
}

.img-wrapper{
  max-height: 100%;
  max-width: 100%;
  background-color: red;
}

.project-img{
  width: fit-content;
  height: 50%;
}

.external-link-btn {
  padding: 1em 1.5em;
  font-size: 1.5em;
  color: var(--accent-primary);
  background-color: transparent;
  border: 1px solid var(--accent-primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;

  a {
    text-decoration: none;
    color: var(--accent-primary);
  }

  &:hover {
    background-color: var(--accent-primary-hover);
  }
}

@media only screen and (max-width: 600px) {
}
