@keyframes fadeout {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    color: $text-primary;
    scale: 1;
  }
}
