// COLORS - Backgrounds
$dark-bg: #181818;
$light-bg: #212223;

// COLORS - Text
$text-primary: #ffffff;
$text-secondary: #adadad;

// COLORS - Accents
$accent-primary: #4a98bf;
$accent-primary-hover: rgba(74, 152, 191, 0.15); // converted from #4a98bf25
