@import '../../../styles/_variables.scss';

.section-header {
  width: 80%;
}

.section-icon {
  font-size: 4em;
  margin: 0.5em 0.5em 0.5em 0;
  color: $text-secondary;
}

.section-title {
  color: $text-primary;
  font-size: 3em;
  width: 100%;
  line-height: 0.1em !important;

  a {
    background: $light-bg;
    text-decoration: none;
    color: $text-primary;
    padding-right: 0.5em;
  }

  #title {
    cursor: default;
  }
}
