@import '../../../../styles/_variables.scss';

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.about-title {
  color: $text-primary;
  font-size: 3em;
  width: 50vw;
  line-height: 0.1em !important;

  a {
    background: $light-bg;
    text-decoration: none;
    color: $text-primary;
    padding-right: 0.5em;
  }

  #about {
    cursor: default;
  }
}

.about-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
  font-size: 2em;
  margin-top: 2.5em;
}

.about-emphasis {
  color: $text-primary;
  font-weight: bold;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  flex: initial;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 80%;
  margin-top: 5em;

  .about-info {
    font-size: 2em;
    max-width: 40%;
    margin-right: 5em;
    color: $text-secondary;
  }

  img {
    height: auto;
    width: 35em;
  }
}

.about-icon {
  font-size: 4em;
  margin: 0.5em;
}

@media only screen and (max-width: 1000px) {
  .info-wrapper {
    .about-info {
      font-size: 1.5em;
    }

    img {
      width: 20em;
    }
  }

  .about-skills {
    gap: 1em;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  .info-wrapper {
    flex-direction: column-reverse;
    .about-info {
      font-size: 2em;
      margin: 2em 0;
      min-width: 80vw;
    }

    img {
      width: 15em;
    }

    .about-skills {
      gap: 1em;
      font-size: 2em;
    }
  }

  #projects {
    font-size: 0.75em;
  }
}
