@import '../../../styles/_variables.scss';

.nav-bar {
  background: $dark-bg;
  height: 8vh;
  min-height: 8em;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;

  .btn {
    margin: 1em 2em;
    cursor: pointer;
    font-size: large;
  }

  .resume-btn {
    margin: 1em 2em;
    padding: 0.75em;
    font-size: 1.5em;
    color: $accent-primary;
    background-color: transparent;
    border: 1px solid $accent-primary;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;

    a {
      text-decoration: none;
      color: $accent-primary;
    }

    &:hover {
      background-color: $accent-primary-hover;
    }
  }

  .about-wrap,
  .projects-wrap,
  .contact-wrap {
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 8em;
    cursor: pointer;

    a {
      opacity: 0;
      position: absolute;
      text-decoration: none;
      color: $text-secondary;
      font-size: 1.5em;
      scale: 0.9;
      transition: all 0.2s;
    }

    &:hover {
      a {
        animation: fadein 0.2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
      }

      .about-icon,
      .projects-icon,
      .contact-icon {
        animation: fadeout 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    color: $text-primary;
    scale: 1;
  }
}
