html {
  font-size: 60%;
  width: 100%;

  /* Colors */
  --dark-bg: #181818;
  --light-bg: #212223;
  --text-primary: #ffffff;
  --text-secondary: #adadad;
  --accent-primary: #4a98bf;
  --accent-primary-hover: #4a98bf25;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-secondary);
  background: var(--light-bg);
  display: block;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
